.edit-header {
  background-color: #344a57;
  color: #646b77;
  opacity: 0.9;
}

.edit-body {
  background-color: #344a57;
  color: #646b77;
}

.edit-footer {
  background-color: #344a57;
  color: #646b77;
  opacity: 0.9;
}
