.sidebar {
  border-right: 1px solid #344a57;
  flex: 0.2;
  display:flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 800px) {
  .sidebar {
    flex: 0.1;
  }
}

.home-icon {
  margin-right: 10px;
}

.homeLinks{
  border: none;
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;

}
.homeLinks:hover {
  background-color: #344a57;
  color: white;
  transition: color 100ms ease-out;

}

.twitter-icon {
  color: white !important;
  font-size: 30px !important;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  transform: rotate(-15deg);
}

.sidebar-tweet {
  background-color: #55554f !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit;
  height: 50px !important;
  margin-top: 20px !important;

}
