.post {
  margin-right: 40px;
}



.post-header {
  display: flex;
  align-items: flex-start;
  background-color: #d2d67c;
}

.post-footer {
  background-color: #d2d67c;
}

.post-body {
  background-color: #FFFDD0;
}

.btn-body {
  display: flex;
  justify-content: center;
}


.postLink {
  color: #344a57;
}

.postLink:hover {
  color: white;
}
